AUTHENTICATION_API_KEY=CHANGE_ME

SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=http://localhost:8080

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:evolution123@postgres:5432/evolution?schema=public

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6

LANGUAGE=pt-BR